<script props>
    module.exports = {
      myboolean: (props.myboolean === true ? 'myboolean is true' : 'myboolean is false'),
      title: props.title || 'Default title',
      items: props.items || ['default first item', 'default second item'],
      titles: Object.assign({
        title: 'This is default main title',
        subtitle: 'This is default subtitle',
        suptitle: 'This is default suptitle'
      }, props.titles || {}),
    }
</script>
<div>
<div>{{ myboolean }}</div>
<div><h1>{{ title }}</h1></div>
<div><each loop="item in items"><span>{{ item }}</span></each></div>
<div><each loop="t, i in titles"><span>{{ i }}: {{ t }}</span></each></div>
</div>
