{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2023
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-empty": 0,
    "quotes": [2, "single"],
    "linebreak-style": [2, "unix"],
    "indent": [2, 2, {"SwitchCase": 1}],
    "camelcase": [2, {"properties": "always"}],
    "brace-style": [2, "1tbs", {"allowSingleLine": true}]
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": false
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ]
}
