<script props>
  /**
   * Bootstrap Modal
   * @see https://getbootstrap.com/docs/5.0/components/modal/
   *
   * Props
   *
   * backdrop:      static|true|false
   * keyboard:      true|false
   * scrollable:    true|false
   * centered:      true|false
   * size:          sm|lg|xl
   * fullscreen:    true|false|sm|md|lg|xl|xxl
   * dialogClass:   any additional class for modal-dialog
   * contentClass:  any additional class for modal-content
   */
  module.exports = {
    backdrop: props.backdrop || true,
    keyboard: props.backdrop === "static" || props.keyboard === true,
    scrollable: props.scrollable === true ? 'modal-dialog-scrollable' : '',
    centered: props.centered === true ? 'modal-dialog-centered' : '',
    size: props.size ? `modal-${props.size}` : '',
    fullscreen: [true, "sm", "md", "lg", "xl", "xxl"].includes(props.fullscreen)
      ? (props.fullscreen === true ? "modal-fullscreen" : `modal-fullscreen-${props.fullscreen}-down`)
      : ''
  };
</script>

<div
    class="modal fade"
    id="{{ id }}"
    data-bs-backdrop="{{ backdrop }}"
    data-bs-keyboard="{{ keyboard }}"
    aria-labelledby="{{ id }}"
    tabindex="-1"
    aria-hidden="true"
    aria-modal="true"
    role="dialog"
>
    <div
       class="modal-dialog {{ size }} {{ fullscreen }} {{ centered }} {{ scrollable }}"
    >
        <div class="modal-content">
            <yield></yield>
            <if condition="$slots.header?.filled">
                <x-modal.header>
                    <!-- Alternative way to <slot:header></slot:header> -->
                    {{{ $slots.header?.source }}}
                </x-modal.header>
            </if>
            <if condition="$slots.body?.filled">
                <x-modal.body>
                    <slot:body></slot:body>
                </x-modal.body>
            </if>
            <if condition="$slots.footer?.filled">
                <x-modal.footer close="{{ $slots.footer?.props.close }}">
                    <slot:footer></slot:footer>
                </x-modal.footer>
            </if>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
