<script props>
  module.exports = {
    aStringDefault: 'My default string',
    aStringOverride: 'My default override string',
    anObjectDefault: {
      first: 'First default item',
      second: 'Second default item'
    },
    anObjectOverride: {
      first: 'First overriden item',
      second: 'Second overriden item'
    },
    anObjectMerged: {
      first: 'First merged item',
      second: 'Second merged item',
      anObjectMerged1: {
        first: 'First1 merged item',
        second: 'Second1 merged item',
        anObjectMerged2: {
          first: 'First2 merged item',
          second: 'Second2 merged item'
        },
      },
    },
    post: {
      title: 'Default post title',
      body: 'Default post body',
      comments: [
        {
          id: 1,
          body: "My comment 1"
        },
        {
          id: 2,
          body: "My comment 2"
        }
      ]
    },
    anArrayOfObjects: [
      {
        id: 1,
        title: "My default title 1"
      },
      {
        id: 2,
        title: "My default title 2"
      }
    ],
    anArray: ['first', 'second'],
    aComputed: locals.aComputed === true ? 'Yes' : 'No',
  };
</script>
<div>
  <h1>anObjectDefault</h1>
  <each loop="o,i in anObjectDefault">
    <p><strong>{{ i }}</strong>: {{ o }}</p>
  </each>

  <h1>anObjectOverride</h1>
  <each loop="o,i in anObjectOverride">
    <p><strong>{{ i }}</strong>: {{ o }}</p>
  </each>

  <h1>anObjectMerged</h1>
  <each loop="o,i in anObjectMerged">
    <p><strong>{{ i }}</strong>: {{ o }}</p>
  </each>

  <h1>aStringDefault</h1>
  <p>{{ aStringDefault }}</p>

  <h1>aStringOverride</h1>
  <p>{{ aStringOverride }}</p>

  <hr>

  <h1>post</h1>
  {{ post.title }} {{ post.body }}
  <each loop="comment in post.comments">
    <p><strong>{{ comment.id }}</strong>: {{ comment.body }}</p>
  </each>

  <h1>anArrayOfObjects</h1>
  <each loop="o,i in anArrayOfObjects">
    <p><strong>{{ i }}</strong>: {{ o }}</p>
  </each>

  <h1>anArray</h1>
  <each loop="o,i in anArray">
    <p><strong>{{ i }}</strong>: {{ o }}</p>
  </each>

  <hr>

  <h1>aComputed</h1>
  <p>{{ aComputed }}</p>
</div>
